body, html {
  padding: 0;
  margin: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#main_menu {
  width: 100%;
  height: 100%;
  z-index: 10022;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
#main_menu #title_container {
  position: relative;
  width: 80%;
  height: auto;
  text-align: center;
}
#main_menu #title_container h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 2.5vw;
}
#main_menu #title_container h1 .highlight {
  font-size: 1.55em; /* Adjust the font size as needed */
  font-weight: bold; /* Optional: Add bold styling */
}
#main_menu #title_container button {
  background-color: transparent;
  font-family: "Oswald", sans-serif;
  border: 2px solid white;
  text-transform: uppercase;
  border-radius: 10%;
  color: white;
  z-index: 15;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
}
#main_menu #title_container button:hover {
  background-color: white;
  color: black;
}
#main_menu #controls {
  position: relative;
  width: 25%;
  height: auto;
  color: white;
  font-size: 1.15rem;
  display: none;
  opacity: 0;
  font-family: "Oswald", sans-serif;
}
#main_menu #controls .arrows, #main_menu #controls .mouse {
  text-align: center;
  height: auto;
  position: relative;
  top: 0;
}
#main_menu #controls .arrows img, #main_menu #controls .mouse img {
  width: 30%;
  height: auto;
  filter: invert(100%);
}

@media (max-height: 850px) {
  #main_menu #title_container h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 2.5vw;
  }
  #main_menu #title_container {
    position: relative;
    width: 80%;
    height: auto;
    text-align: center;
    background-color: #5a5a5a;
  }
  #main_menu #title_container h1 .highlight {
    font-size: 1.55em;
    font-weight: bold;
  }
  #main_menu #title_container button {
    background-color: transparent;
    font-family: "Oswald", sans-serif;
    border: 3px solid rgb(175, 0, 0);
    text-transform: uppercase;
    border-radius: 10%;
    color: white;
    z-index: 15;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.55em;
    margin: 4px 2px;
    cursor: pointer;
  }
}
#progressBarContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

label {
  color: white;
  font-size: 2rem;
}

*::-webkit-scrollbar {
  display: none;
}

#page_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.footer {
  padding-top: 20px;
  position: fixed;
  bottom: 3vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
  left: calc(10px + env(safe-area-inset-left));
  right: calc(10px + env(safe-area-inset-right));
  z-index: 15000; /* Ensure this value is higher than other elements you want it to be above */
  color: white;
}
.footer .about {
  display: flex;
  flex-flow: row;
  font-size: 1rem;
  position: relative;
  z-index: 50000;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#about {
  background-color: rgb(0, 0, 0);
  position: absolute;
  display: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 60000;
  padding: 50px;
}
#about .modalContainer {
  color: white;
  width: 100%;
  height: auto;
}
#about .modalContainer .modalTitleContainer {
  height: 100%;
}
#about .modalContainer .modalTitleContainer .modalTitle {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1rem;
  font-size: 10rem;
  text-transform: uppercase;
  padding-left: 0;
  margin: 0;
  color: orangered !important;
}
#about .modalContainer .modalTitleContainer .modalMainText {
  width: 80%;
}
#about .modalContainer .modalTitleContainer .modalMainText p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1vw;
}
#about .modalContainer .modalTitleContainer .modalMainText a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.75vw;
  text-decoration: none;
  color: white !important;
}
#about .modalContainer .modalTitleContainer .modalMainText a:hover {
  color: orangered !important;
}
#about .modalContainer .modalMainBody {
  height: 100%;
  overflow: hidden;
}
#about .modalContainer .modalMainBody #aboutImg {
  position: relative;
  width: 100%;
  height: auto;
}

#page_wrapper::-webkit-scrollbar {
  display: none;
}

.close_container {
  position: absolute;
  right: 2%;
  top: 4%;
  border: 1px solid rgb(136, 212, 255);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  float: right;
  position: relative;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #5a5a5a;
  text-decoration: none;
  cursor: pointer;
}

#closeAbout {
  float: right;
  position: relative;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

#closeAbout:hover, #closeAbout:focus {
  color: #5a5a5a;
  text-decoration: none;
  cursor: pointer;
}

#app .popUps {
  display: none;
  padding: 0;
  margin: 0;
}
#app .popUps .overview {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  display: none;
  z-index: 50;
}
#app .popUps .overview .modalContainer {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px; /* Adjust as needed */
  color: white; /* Text color */
}
#app .popUps .overview .modalContainer .modalTitleContainer {
  position: relative;
  height: auto;
  text-transform: uppercase;
  width: 100%;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}
#app .popUps .overview .modalContainer .modalTitleContainer .modalTitle {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1rem;
  font-size: 15rem;
  padding-left: 0;
  margin: 0;
}
#app .popUps .overview .modalContainer .modalTitleContainer .stats {
  padding-left: 15px;
  color: rgb(206, 206, 206);
  font-size: 1.5rem;
}
#app .popUps .overview .modalContainer .modalMainBody {
  position: relative;
  margin-top: 0.8%;
  height: auto;
  width: 100%;
  padding: 0;
}
#app .popUps .overview .modalContainer .modalMainBody .modalMainText {
  padding-left: 15px;
  display: block;
}
#app .popUps .overview .modalContainer .modalMainBody .modalMainText .description {
  width: 40%;
}
#app .popUps .overview .coverImg {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.NavBar {
  position: absolute;
  height: 60vh;
  width: 5vw;
  left: 0;
  top: 50%;
  display: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 5;
  margin-left: 5vw;
}
.NavBar .NavBar_Inner {
  position: absolute;
  height: 100%;
}
.NavBar .NavBar_Inner a {
  position: relative;
  margin-bottom: 8vh;
  width: 6px; /* Adjust the width to control the size of the sphere */
  height: 6px; /* This value should be the same as the width to create a sphere */
  border-radius: 50%; /* Make the element a circle */
  background-color: rgb(90, 90, 90);
  display: flex;
  justify-content: center; /* Aligns the inner circle horizontally */
  align-items: center;
}
.NavBar .NavBar_Inner a:last-child {
  margin-bottom: 0vh;
}
.NavBar .NavBar_Inner a:hover {
  background-color: rgb(255, 255, 255);
}
.NavBar .NavBar_Inner .NavBar_Sphere {
  width: 18px; /* Adjust the width to control the size of the sphere */
  height: 18px; /* This value should be the same as the width to create a sphere */
  border-radius: 50%; /* Make the element a circle */
  border: 2px solid rgb(255, 89, 12);
  position: absolute;
}
.NavBar .NavBar_Inner .NavBar_Sphere:hover {
  border: 2px solid rgb(255, 40, 12);
}
.NavBar .NavBar_Inner .progressBarNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: rgb(255, 89, 12);
}
.NavBar .NavBar_Inner .progressBarVisible {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  top: 12px;
  width: 30%;
  height: 1052%;
  overflow: hidden;
}
.NavBar .NavBar_Inner .progressBarVisible .progressBarVisible_inner {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background-color: rgb(150, 150, 150);
}

.Chapter_Content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 80%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 14;
  font-size: 1.25rem;
}
.Chapter_Content div {
  background-color: wheat;
  width: 50%;
  padding: 1.5vh 0.5vw 0 0.5vw;
  color: black;
  border: 1px solid #ccc; /* Add a solid border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}
.Chapter_Content #firstCaption {
  width: auto;
  position: absolute;
  top: 0;
  display: none;
}
.Chapter_Content .captions {
  position: absolute;
  top: 0;
  display: none;
}
.Chapter_Content .captions p {
  font-size: 100%;
}

.webgl {
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

#end_screen {
  width: 100%;
  height: 100%;
  z-index: 10022;
  display: none;
  position: absolute;
  background-color: black;
  justify-content: center;
  align-items: center;
}
#end_screen #title_container {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  top: 50%;
}
#end_screen #title_container h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 2.5vw;
}
#end_screen #title_container h1 .highlight {
  font-size: 0.5em; /* Adjust the font size as needed */
  font-weight: bold; /* Optional: Add bold styling */
}/*# sourceMappingURL=stylesheet.css.map */